.Login{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 475px;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -237.5px;
    margin-left: -175px;
    z-index: 1000;
    -moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
}

.Sagarmatha{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 25px;
    color: #066283;
    height: 60px;
    background-color: white;

}

.Sagarmatha img{
    display: flex;
    width: 200px;
    height:60px;
    background-color: white;
}

.Sagarmatha span{
    padding-top: 12px;
    background-color: white;
}

.firsthr{
    width: 240px;
    border: 0.5px solid #066283;
    background-color: #066283;
    box-shadow: 0 20px 20px -20px #066283;
    background-color: white;
}

.welcome{
    margin-top:10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    background-color: white;
}
.welcome span{
    color: #066283;
    background-color: white;
}

.Email{
    margin-bottom: 15px;
    background-color: white;
}

.Email, .Password{
    display: flex;
    justify-content: center;
    background-color: white;
}


.Email input, .Password input{
    width: 80%;
    border: 1px solid gray;
    border-radius: 4px;
    height: 25px;
    background-color: #f5ffff;

}

.forgot{
    margin-top: 5px;
    width: 91%;
    display: flex;
    justify-content: right;
    color: #066283;
    margin-bottom: 5px;
    font-size: 10px;
    background-color: white;

}

.check{
    display: flex;
    margin-left: 27px;
    margin-bottom: 40px;
    background-color: white;
    
}

.submit{
    display: flex;
    justify-content: center;
    background-color: white;
}
.submit input{
    width: 60%;
    height: 30px;
    border: 2px solid #066283;
    color: #066283;
    margin-bottom: 35px;
    cursor: pointer;
    background-color: white;
}

.submit input:hover{    
    width: 60%;
    height: 30px;
    border: 2px solid #066283;
    color: white;
    margin-bottom: 35px;
    cursor: pointer;
    background-color: #066283;
}



.support{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: white;
}
.support span{
    color: #066283;
    background-color: white;
    text-decoration: underline;
}

